<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id = "science" class = "com.Cap.ScienceAndEngineeringPrac">
      <property name = "message" value = "Science and Engineering Dimension Results"/>
   </bean>
   
   <bean id = "idea" class = "com.Cap.DisciplinaryCoreIdea">
      <property name = "message" value = "Disciplinary and Core Ideas Dimension Results"/>
   </bean>
   
   
   
   <bean id = "concepts" class = "com.Cap.CrossCuttingConcepts">
      <property name = "message" value = "Cross-Cutting Concept Dimension Results"/>
   </bean>
   

</beans>